{% extends "main/layout.html" %}
{% load i18n crispy_forms_tags %}
{% block content %}
	<ol class="breadcrumb mb-2 mt-1">
		<li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans "VARANDA" %}</a></li>
		<li class="breadcrumb-item"><a href="{% url 'pesoal-list' %}">{% trans "LISTA UTILIZADOR" %}</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ legend|upper }}</li>
	</ol>
	<div class="row">
		<div class="col-sm-12">
			<form method="POST" id="PesoalForm" enctype="multipart/form-data" novalidate>
			{% csrf_token %}
			<div class="card card-rbr shadow-sm pt-1 rounded">
				<div class="card-header card-header-rbr">{{ legend|upper }}</div>
				<div class="card-body">
					{% if not objects %}<div class="alert alert-info small"><i class="fa fa-info-circle"></i> {% trans "Utilizador sei simu email ho password default no tenke troka password iha login dahuluk." %}</div>{% endif %}
					{% crispy form %}
				</div> <!--end card-body-->
			</div> <!--end card-->
			</form>
		</div> <!--end col-->
	</div> <!--end row-->
{% endblock %}
