{% extends "main/layout.html" %}
{% load i18n crispy_forms_tags %}
{% block content %}
	{% url 'offline-list' as parent_url %}
	{% include 'main/page_header.html' with parent_url=parent_url parent_label=_("Autorizasaun Offline") %}
	<div class="page-head"><h2>{{ legend }}</h2></div>
	<div class="card card-rbr">
		<div class="card-body">
			<div class="alert alert-info small"><i class="fa fa-info-circle"></i> {% trans "Autorizasaun validu loron 7. Autorizasaun ativu antigu sei troka ho foun." %}</div>
			{% crispy form %}
		</div>
	</div>
{% endblock %}
